.container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
}

mat-card {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}
