@if(isLoginVisible){
<mat-card class="login-card">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      @if (loginForm.get('email')?.hasError('required')) {
      <mat-error> Email is required </mat-error>
      } @else if(loginForm.get('email')?.hasError('email')){
      <mat-error> Invalid email </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      @if (loginForm.get('password')?.hasError('required')) {
      <mat-error> Password is required </mat-error>
      }@else if(loginForm.controls['password'].validator?.length){
      <mat-error> Invalid password </mat-error>
      }
    </mat-form-field>
    <button mat-raised-button type="button" type="cancel" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
<div class="reg">
  <span>Not yet registered?</span>
  <span (click)="register()">Click Here</span>
</div>
}@else{
<div class="welcome">
  @if(!isLoggedIn() || !isRegistered()){
  <span>Angular 17 CRUD</span>
  <a (click)="register()">Register</a>
  <a (click)="isLoginVisible = true">Login</a>
  }@else{
  <span>Angular 17 CRUD</span>
  <p (click)="dashboard()">Click Here to go back</p>
  }
</div>
}
